<div class="container">

    <div class="card">

        <h5 class="card-header" style="background-color:#ecb535; text-align: center;">
            <strong>Add Author</strong>
        </h5>

        <div class="card-body" style="background-color:#e9ab18;">

            <form #form="ngForm" (ngSubmit)="addAuthor(form.value)" style="color: #757575;">

                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" placeholder="Author Name" name="authorName" id="authorName"
                                class="form-control" ngModel>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="date" placeholder="Date-Of-Birth" name="dateOfBirth" id="dateOfBirth"
                                class="form-control" ngModel>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" placeholder="Place-Of-Birth" name="placeOfBirth" id="placeOfBirth"
                                class="form-control" ngModel>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" name="bookName" [(ngModel)]="bookAdded" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                            <a class="input-group-text btn waves-effect" (click)="addBooks()" data-toggle="modal" data-target="#bookhModal"
                                style="background-color:#ecb535; color: black;">Add Books</a>
                    </div>
                </div>

                <div class="md-form">
                    <div class="col-sm-10">
                        <input type="file" id="file" name="files" (change)="onFileSelected($event)">
                    </div>
                </div>


                <!-- <div class="md-form">
                    <div class="row">
                            <div class="col-md-6">
                                    <select class="browser-default custom-select" aria-multiselectable="true">
                                            <option selected >Open this select menu</option>
                                            <option  *ngFor="let el of getDataBooks">{{el.bookName}}</option>
                                    </select>
                            </div>
                    </div>
            </div> -->


                <button class="btn my-4 btn-block" style="background-color:#ecb535; color: black;" type="submit">Add
                    Author</button>

            </form>

        </div>

    </div>

    <div class="modal" id="bookhModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#ecb535; color: black;">
                    <h5 class="modal-title">Add Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-check" *ngFor="let el of getDataBooks">
                            <input class="form-check-input" (change)="addBookArray(el, $event.target.checked)"
                                name="{{ el.bookName }}" type="checkbox" id="{{el.bookName}}">
                            {{el.bookName}}
                        </div>
                        <button (click)="addBookForm()" type="submit" data-dismiss="modal" aria-label="Close"
                            class="btn my-4 btn-block" style="background-color:#ecb535; color: black;">Add
                            Books</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>